#Issue01-bytheNumbers {
    height: 1250px;
    width: 1112px;
    margin-top: 40px;
    background-color: #fff;
}

#Issue01-bytheNumbers h1{
    margin-bottom: 30px;
}

.numbers-left {
    width: 50%;
    float: left;
    margin-top: 40px;
}

.numbers-people-chart{
    visibility: hidden;
    vertical-align: center;
}


.numbers-people-mark{
    width: 40px;
}

.numbers-numbers-section{
    width: 70%;
    margin-top: 20px;
}

.numbers-numbers-section2{
    width: 70%;
}


.numbers-numbers {
    color: #762056;
    font-family: "Montserrat", sans-serif;
    font-weight: bolder;
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 0px;
    text-align: center;
}

.numbers-numbers2 {
    color: #f2672a;
    font-family: "Montserrat", sans-serif;
    font-weight: bolder;
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 0px;
    text-align: center;
}

.numbers-des {
    color: #000000;
    font-family: "roboto", sans-serif;
    font-size: 20px;
    margin-top: 0px;
    text-align: center;
}

/* People */

.numbers-transfer-people{
    width: 30%;
/*    visibility: hidden;*/
    float: left;
}

.numbers-transfer-people img{
    width: 198px;
    margin-left: 8%;
    margin-bottom: 20px;
}

.numbers-transfer-people p {
    font-size: 20px;
    padding-right: 40px;
    text-align: center;
    font-family: "roboto", sans-serif;
}


/* Hats */

.numbers-transfer-hats{
    width: 30%;
/*    visibility: hidden;*/
    float: left;
    margin-top: 10px;
}

.numbers-transfer-hats img{
    width: 250px;
    margin-bottom: 20px;
}

.numbers-transfer-hats p {
    font-size: 20px;
    text-align: center;
    font-family: "roboto", sans-serif;
    padding-right: 40px;
}

/* Pie Chart */

.numbers-transfer-pie{
    width: 30%;
/*    visibility: hidden;*/
    float: left;
    margin-top: 10px;
}

.numbers-transfer-pie img{
    width: 130px;
    margin-left: 80px;
    /*margin-bottom: 20px;*/
}

.numbers-transfer-pie p {
    padding-top: 3px;
    font-size: 20px;
    text-align: center;
    font-family: "roboto", sans-serif;
}

/* Piggy */

.numbers-transfer-piggy{
/*    visibility: hidden;*/
    float: left;
    margin-top: 20px;
}

.numbers-transfer-piggy img{
    width: 250px;
    margin-left: 80px;
    /*margin-bottom: 20px;*/
}

.numbers-transfer-piggy p {
    font-size: 20px;
    text-align: center;
    padding-top: 35px;
    padding-left: 60px;
    font-family: "roboto", sans-serif;
}

/* Roll */

.numbers-transfer-roll{
    width: 40%;
/*    visibility: hidden;*/
    float: left;
    margin-top: 10px;
}

.numbers-transfer-roll img{
    width: 250px;
    margin-top: 30px;
    margin-left: 13%;
    margin-bottom: 20px;
}

.numbers-transfer-roll p {
    padding-top: 10px;
    font-size: 20px;
    padding-right: 20px;
    text-align: center;
    font-family: "roboto", sans-serif;
}

/* Certificate */

.numbers-transfer-certificate{
    width: 50%;
/*    visibility: hidden;*/
    float: left;
    margin-top: 10px;
}

.numbers-transfer-certificate img{
    width: 180px;
    margin-left: 27%;
    margin-bottom: 20px;
}

.numbers-transfer-certificate p {
    padding-top: 3px;
    font-size: 20px;
    padding-right: 20px;
    text-align: center;
    font-family: "roboto", sans-serif;
}

.numbers-transfer-year {
    color: #006938;
    font-family: "Montserrat", sans-serif;
    font-weight: bolder;
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 0px;
}

.numbers-transfer-data{
    color: #006938;
    font-family: "Montserrat", sans-serif;
    font-weight: bolder;
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 0px;
}

/* Key part style */
.numbers-people-key{
    font-size: 10px;
    color: #A8A9B0;
    font-style: italic;
    margin-top: 5px;
}