#Issue01-overview {
    width: 1112px;
    background-color: #fff;
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    margin-top: 20px;
    margin-left: 1px;
}

#Issue01-overview .Issue01-overview-text {
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 10px;
}

#Issue01-overview .Issue01-overview-pic {
    padding-bottom: 1%;
    background-color: #000000;
}


#Issue01-overview h2{
    font-family: "Montserrat Bold", sans-serif;
    font-size: 30px;
    font-weight: bolder;
    text-transform: uppercase;
}

#Issue01-overview h4{
    font-family: "Montserrat Bold", sans-serif;
    font-size: 18px;
    color: #871b55;
    font-weight: bolder;
    text-transform: uppercase;
    margin-bottom: 20px;
}

/* Hardships Info-button bubble */

.issue01-infoButton-overview {
    position: relative;
    display: inline-block;
    cursor: default;
}

.infoButton-overview-tip {
    visibility: hidden;
    width: 200px;
    background-color: #FFF;
    color: #000000;
    font-size: 10px;
    font-family: "Roboto",sans-serif;
    text-align: center;
    padding: 5px 0;
    border: 1px solid #f2672a;
    border-radius: 6px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: -120%;
    left: 50%;
    margin-left: -60px;
}

.issue01-infoButton-overview:hover .infoButton-overview-tip {
    visibility: visible;
    opacity: 1;
}

