body{
    margin-left: 5%;
}


.sectionTitle {
    color: #762056;
    border-bottom: 5px solid #f2672a; 
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
}

.secondaryTitle{
    font-size: 25px;
    margin-bottom: 0px;
    color: #f2672a;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
}

.section-content {
    width: 50%;
    font-size: 15px;
    font-family: "Roboto", sans-serif;
}

/* Monthly Survival Page CSS*/


.ms-chartTitle{
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
}

path {
 stroke: #fff;
}

.budget-person-container{
    clear: both;
}

#budget_person{
    width: 50%;
    float: left;
}

#budget-person-numbers{
    width: 30%;
    float: left;
    margin-top: 100px;
    margin-left: 100px;
}

#budget-person-numbers p{
    font-family: "Roboto", sans-serif;
}

.budget-person-numbers-title{
    font-family: "Roboto", sans-serif;
    color: #f2672a;
}

#budget-family-container{
    clear: left;
}

#budget_family{
    width: 50%;
    float: left;
    clear: left;
}

#budget-family-numbers{
    width: 30%;
    float: left;
    margin-top: 100px;
    margin-left: 100px;
}

#budget-family-numbers p{
    font-family: "Roboto", sans-serif;
}



