/* Hunger & Education */

#Issue01-hungerEducation {
  background-color: #fff;
  width: 1112px;
  margin-top: 40px;
  margin-bottom: 40px;
  clear: left;
}

h1 {
  margin-bottom: 40px;
}

.he_left{
  width: 40%;
  float: left;
}

.he_number01 {
  margin-bottom: 20px;
}

.he_number01_highlight {
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  font-weight: bold;
  color: #c9177d;
  margin-bottom: 50px;
  float: left;
}

.he_number01_text {
  width: 300px;
  margin-left: 10px;
  margin-top: 3px;
  font-family: "Roboto", sans-serif;
  float: left;
}

.he_number02_highlight {
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  font-weight: bold;
  color: #c9177d;
  margin-bottom: 50px;
  float: left;
  clear: both;
}

.he_number02_text {
  width: 300px;
  margin-left: 10px;
  margin-top: 3px;
  font-family: "Roboto", sans-serif;
  float: left;
}

.he_number03_highlight {
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  font-weight: bold;
  color: #c9177d;
  margin-bottom: 50px;
  float: left;
  clear: both;
}

.he_number03_text {
  width: 300px;
  margin-left: 10px;
  margin-top: 3px;
  font-family: "Roboto", sans-serif;
  float: left;
}

.he_right {
  vertical-align: middle;
}

.he_coin1 {
  width: 30px;
  visibility: hidden;
  vertical-align: middle;
  margin-left: 280px;
}

.he_coin2 {
  width: 40px;
  visibility: hidden;
  vertical-align: middle;
  margin-left: 320px;
}

.he_coin3 {
  width: 50px;
  margin-left: 280px;
  visibility: hidden;
  vertical-align: middle;
}

.he_piggy {
  width: 200px;
  vertical-align: middle;
  clear: both;
  margin-left: 220px;
}

/* Hunger Education Info Button */

.issue01-infoButton-heSource-01 {
    position: relative;
    display: inline-block;
    cursor: default;
}

.infoButton-heSource-tip01 {
    visibility: hidden;
    width: 120px;
    background-color: #FFF;
    color: #000000;
    font-size: 10px;
    font-family: "Roboto",sans-serif;
    text-align: center;
    padding: 5px 0;
    border: 1px solid #f2672a;
    border-radius: 6px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 110%;
    left: 50%;
    margin-left: -60px;
}

.issue01-infoButton-heSource-01:hover .infoButton-heSource-tip01 {
    visibility: visible;
    opacity: 1;
}

.issue01-infoButton-heSource-02 {
    position: relative;
    display: inline-block;
    cursor: default;
}

.infoButton-heSource-tip02 {
    visibility: hidden;
    width: 120px;
    background-color: #FFF;
    color: #000000;
    font-size: 10px;
    font-family: "Roboto",sans-serif;
    text-align: center;
    padding: 5px 0;
    border: 1px solid #f2672a;
    border-radius: 6px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 110%;
    left: 50%;
    margin-left: -60px;
}

.issue01-infoButton-heSource-02:hover .infoButton-heSource-tip02 {
    visibility: visible;
    opacity: 1;
}


.issue01-infoButton-heSource-03 {
    position: relative;
    display: inline-block;
    cursor: default;
}

.infoButton-heSource-tip03 {
    visibility: hidden;
    width: 120px;
    background-color: #FFF;
    color: #000000;
    font-size: 10px;
    font-family: "Roboto",sans-serif;
    text-align: center;
    padding: 5px 0;
    border: 1px solid #f2672a;
    border-radius: 6px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 110%;
    left: 50%;
    margin-left: -60px;
}

.issue01-infoButton-heSource-03:hover .infoButton-heSource-tip03 {
    visibility: visible;
    opacity: 1;
}