body{
    margin-left: 5%;
}


.sectionTitle {
    color: #762056;
    border-bottom: 5px solid #f2672a; 
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
}

.ms_tooltip {
    font-size: 15px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 10px;
    padding-right: 10px;
}

.ms_image {
    width: 50px;
    margin-left: 30%;
}

#ms_container {
    position: relative;
}

.secondaryTitle{
    font-size: 25px;
    margin-bottom: 0px;
    color: #f2672a;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
}

.section-content {
    width: 50%;
    font-size: 15px;
    font-family: "Roboto", sans-serif;
}

.overlay {
    display:block;
    width:240px;
    height:240px;
    text-align:center;
    vertical-align: middle;
    position: absolute;
    top: 220px;  /* chartArea top  */
    left: 180px; /* chartArea left */
    font-size: 80px;
    margin-top: 60px;
}

.overlay-label{
    display:block;
    width:240px;
    height:240px;
    text-align:center;
    vertical-align: middle;
    position: absolute;
    top: 40px;  /* chartArea top  */
    left: 180px; /* chartArea left */
    margin-top: 140px;
    font-size: 20px;
}

.ms_personal_total{
    font-size: 45px;
    margin-bottom: 0px;
    color: #f2672a;
    font-family: "Montserrat", sans-serif;
}

.ms_label {
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
}