/* General Page Setting */

body{
    margin-left: 5%;
}

.sectionTitle {
    color: #762056;
    border-bottom: 5px solid #f2672a; 
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
}

.secondaryTitle{
    font-size: 25px;
    margin-bottom: 0px;
    color: #f2672a;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
}

.section-content {
    width: 50%;
    font-size: 15px;
    font-family: "Roboto", sans-serif;
}

/* Hunger & Education page setting */

.hs-h1 {
  margin-bottom: 40px;
}

.hs_left{
  width: 35%;
  float: left;
}

.hs_number01 {
  margin-bottom: 40px;
}

.hs_number01_highlight {
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  font-weight: bold;
  color: #f2672a;
  margin-bottom: 50px;
  float: left;
}

.hs_number01_text {
  width: 300px;
  margin-left: 15px;
  margin-top: 15px;
  font-family: "Roboto", sans-serif;
  float: left;
}

.hs_number02 {
  margin-bottom: 40px;
}

.hs_number02_highlight {
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  font-weight: bold;
  color: #f2672a;
  margin-bottom: 50px;
  float: left;
  clear: both;
}

.hs_number02_text {
  width: 300px;
  margin-left: 15px;
  margin-top: 15px;
  font-family: "Roboto", sans-serif;
  float: left;
}

.hs_number03{
  margin-bottom: 40px;
}

.hs_number03_highlight {
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  font-weight: bold;
  color: #f2672a;
  margin-bottom: 50px;
  float: left;
  clear: both;
}

.hs_number03_text {
  width: 300px;
  margin-left: 15px;
  margin-top: 15px;
  font-family: "Roboto", sans-serif;
  float: left;
}

.hs-icons{
  width: 280px;
}
